*
{
    box-sizing: border-box;
}
.wrapper:after
{
    content: "";
    clear: both;
    display: block;
}

body {
    background-color: #262626;
    color: white;

}

[class*="col-"]
{
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-12:after
{
    content: "";
    clear: both;
    display: block;
}

#head{
    height: 10%;
    border-radius: 5px;
    background-color: limegreen;
}

#title  {
    font-size: 35px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    margin-left: 10px;
    margin-top: 5px;
}

#menu {
    margin-top: 5%;
    height: 30%;
	background-color:limegreen;
    text-align: center;
	border-radius: 10px;
	text-align: left;
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
li {
    align-content: left;
    margin-left: 5px;
}

ul a {
    
}
li a {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    display:block;
    color: #000;
    text-decoration: none;
	border-radius: 10px;
}

li a:hover {
    background-color: #555;
    color: white;
}

#main-mid {
    padding-left: 10px;
}

.button_off {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #803c3c);
  background-image: -moz-linear-gradient(top, #ff0000, #803c3c);
  background-image: -ms-linear-gradient(top, #ff0000, #803c3c);
  background-image: -o-linear-gradient(top, #ff0000, #803c3c);
  background-image: linear-gradient(to bottom, #ff0000, #803c3c);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button_off:hover {
  background: #8c8c8c;
  background-image: -webkit-linear-gradient(top, #8c8c8c, #525151);
  background-image: -moz-linear-gradient(top, #8c8c8c, #525151);
  background-image: -ms-linear-gradient(top, #8c8c8c, #525151);
  background-image: -o-linear-gradient(top, #8c8c8c, #525151);
  background-image: linear-gradient(to bottom, #8c8c8c, #525151);
  text-decoration: none;
}
.button_on {
  background: #55ff00;
  background-image: -webkit-linear-gradient(top, #55ff00, #224700);
  background-image: -moz-linear-gradient(top, #55ff00, #224700);
  background-image: -ms-linear-gradient(top, #55ff00, #224700);
  background-image: -o-linear-gradient(top, #55ff00, #224700);
  background-image: linear-gradient(to bottom, #55ff00, #224700);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button_on:hover {
  background: #8c8c8c;
  background-image: -webkit-linear-gradient(top, #8c8c8c, #525151);
  background-image: -moz-linear-gradient(top, #8c8c8c, #525151);
  background-image: -ms-linear-gradient(top, #8c8c8c, #525151);
  background-image: -o-linear-gradient(top, #8c8c8c, #525151);
  background-image: linear-gradient(to bottom, #8c8c8c, #525151);
  text-decoration: none;
}
a {
 text-decoration: none;
}
#login {
	width: 30%;
	padding: 1% 0 0;
	margin: auto;
}
#loginSub {
	position: relative;
	z-index: 1;
	background-color: #FFFFFF;
	max-width: 75%;
	margin: auto;
	padding: 10%;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 30px;
}
#login-inputs {
	border:	0;
}
#loginSub input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: rgb(155,155,155);
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	border-radius: 10px;
}
#loginSub input:hover {
	background-color: #555;
	color: white;
}
.project_title {
	padding: 0.1% 0 0;
	font-family: "Roboto", sans-serif;
	font-size: 3em;
	text-align: center;
	padding: 
}
::-webkit-input-placeholder {
   color: rgb(0,0,0);
}
:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}
#footer {
	background-color:limegreen;
    color: #000;
	border-radius: 10px;
	margin-top: 5px;
}
#footerTxt{
    margin-left: 10px;
}

#loged_in {
	border-radius: 10px;
}
#loged_in input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: red;
	width: 33%;
	border: 0;
	box-sizing: border-box;
	font-size: 1em;
	border-radius: 10px;
}
#loged_in input:hover {
	background-color: #555;
	color: white;
}
