*
{
    box-sizing: border-box;
}
.wrapper:after
{
    content: "";
    clear: both;
    display: block;
}
[class*="col-"]
{
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-12:after
{
    content: "";
    clear: both;
    display: block;
}

#menu {
	background-color: rgb(155,155,155);
	height: 50%;
    margin-left: -8px;
	border-radius: 10px;
	text-align: center;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li {
    
}

#menu ul a {
    padding: 3em;
}
#menu li a {
    display:block;
    color: #000;
    padding-left: 10px;
    text-decoration: none;
	border-radius: 10px;
}

#menu li a:hover {
    background-color: #555;
    color: white;
}

#main-mid {
    padding-left: 10px;
}

.button_on {
	display: block;
	height: 5%;
	width: 75%;
	background: rgb(0,255,0);
	border-radius: 10px;
	color: rgba(0, 0, 0, 0.55);
	text-align: center;
	font: bold 5%, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 2em;
}
.button_off {
	display: block;
	height: 5%;
	width: 75%;
	background: rgb(255,0,0);
	border-radius: 10px;
	color: rgba(0, 0, 0, 0.55);
	text-align: center;
	font: bold 5%, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 2em;
}
a {
 text-decoration: none;
}
#login {
	width: 30%;
	padding: 1% 0 0;
	margin: auto;
}
#loginSub {
	position: relative;
	z-index: 1;
	background-color: #FFFFFF;
	max-width: 75%;
	margin: auto;
	padding: 10%;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 30px;
}
#login-inputs {
	border:	0;
}
#loginSub input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: rgb(155,155,155);
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	border-radius: 10px;
}
#loginSub input:hover {
	background-color: #555;
	color: white;
}
.project_title {
	padding: 0.1% 0 0;
	font-family: "Roboto", sans-serif;
	font-size: 3em;
	text-align: center;
	padding: 
}
::-webkit-input-placeholder {
   color: rgb(0,0,0);
}
:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}
#footer {
	background-color: rgb(155,155,155);
	border-radius: 10px;
	margin-top: 5px;
	margin-left: -8px;
}
#loged_in {
	background-color: rgb(155,155,155);
	border-radius: 10px;
}
#loged_in input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: rgb(50,50,50);
	width: 25%;
	border: 0;
	box-sizing: border-box;
	font-size: 1em;
	border-radius: 10px;
}
#loged_in input:hover {
	background-color: #555;
	color: white;
}